.link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 370px;

    &.link-dest {
        max-width: 250px;
        margin-left: 10px;
    }

    &__edit-text {
        padding: 5px!important;
        // background-color: red;
    }

    &__edit-form {
        padding: 20px 0;
    }

    &__update-btn {
        margin-top: 17px!important;
    }
}

.link-dest-cell {
    display: flex;
    align-items: center;
}