.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;

    &__container {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        @media screen and (max-width: 600px) {
            align-items: flex-end;
        }
    }
}
