@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    // color: white;
    // background-color: #F2F3FB;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: inherit;
}